<div class="leftcontent">
  <div class="filescontainer" id="excelcontainer">
    <div class="filesname">
      <h3>Excel (.xlsx) Files</h3>
      <span class="material-symbols-outlined"> view_module </span>
    </div>

    <ul>
      <li>
        <div class="linkbox">
          <p>Department Courses Original Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ originaltheme_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!--  -->
      <li>
        <div class="linkbox">
          <p>Department Courses Dark Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ darktheme_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Department Courses Green Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ green_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Department Courses Desert Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ desert_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- grey -->
      <li>
        <div class="linkbox">
          <p>Department Courses Greyscale Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ grey_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- ocean -->
      <li>
        <div class="linkbox">
          <p>Department Courses Ocean Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ ocean_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- pastel -->
      <li>
        <div class="linkbox">
          <p>Department Courses Pastel Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ pastel_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- Primary colors -->
      <li>
        <div class="linkbox">
          <p>Department Courses Primary Colors Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ primarycolors_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- Primary colors -->
      <li>
        <div class="linkbox">
          <p>Department Courses Neon Theme</p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ neon_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!-- files container is per file type. linkbox is per individiual link -->

  <div class="filescontainer" id="csvcontainer">
    <div class="filesname">
      <h3>CSV Files</h3>
      <i class="fa-regular fa-file-lines"></i>
    </div>

    <ul>
      <li>
        <div class="linkbox">
          <p>Department Courses CSV</p>

          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ coursescsv }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!-- table container filescontainer -->
  <div class="filescontainer" id="tablecontainer">
    <div class="filesname">
      <h3>Tables</h3>
      <span class="material-symbols-outlined"> table </span>
    </div>

    <ul>
      <li>
        <div class="linkbox">
          <p>Department Courses Table</p>

          <p>
            View:&nbsp;&nbsp;
            <a href="#departmenttableheading" target="_self"
              ><i class="fa-regular fa-eye"></i>
            </a>
            <!-- link icon above-->
          </p>
        </div>
      </li>

      <li>
        <div class="linkbox">
          <p>
            <small id="underconstruction"
              >Under construction, coming soon</small
            >
            <br />

            {{ departmentnamehalf }} Courses with "{{ departmentnamehalf }}" in
            their name Table
          </p>

          <p>
            View:&nbsp;&nbsp;
            <a href="#" onclick="return false;" target="_self"
              ><i class="fa-regular fa-eye"></i>
            </a>
            <!-- link icon above-->
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
