<!doctype html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="About DegreeView and the technologies that support it."
    />

    <meta
      name="keywords"
      content="degree, major, UT Austin, degreeview, course diagrams, course excel files, degree stats, csv, .xlsx,pdf, aboutpage"
    />

    <meta name="author" content="DegreeView" />
    <!-- end seo -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{site_favicon}}" type="image/png" />

    <!-- Google tag (gtag.js) -->

    {{headtag}}
    <title>About DegreeView</title>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="../static/css/dv_main.css" />
    <!-- Barlow Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Roboto Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,100;1,300;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Icons ( download icon from here is used) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- normalize css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <!-- this is just testing -->

    <link rel="stylesheet" href="utaustin-site/cssfiles/filterchaos.css" />
  </head>
  <body>
    <!-- this div basically has the entire site in it. Flex direction column -->
    <div class="sitecontainer" id="about">
      <!-- 
      
      -->
      <div class="abovemainsite">
        <div class="topnav">
          <div class="biglogobox">
            <img
              class="biglogo"
              src="utaustin-site/metaassets/logo5.png"
              alt=""
            />
          </div>
          <nav class="homeandabout">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="degreeviewstats.html">Stats</a></li>
            </ul>
          </nav>
        </div>
        <div class="headingbox">
          <h1 id="headingtitle">About</h1>
        </div>
      </div>
      <!-- mainsite
      no left or right sections jere.
      -->
      <div class="mainsite">
        <div class="aboutbox">
          <h3 class="aboutbox-header">Overview</h3>

          <div class="about-paragraph">
            <p>
              DegreeView analyzes college course catalogs and presents them in a
              more structured, interactive way. Courses, degree plans, and
              program data are organized into tables, visualizations, and
              downloadable files.

              <br /><br />

              The idea started with a simple observation: college students spend
              a lot of time navigating course catalogs. My idea was to present
              them in a new way. Its not a tool thats a replacement for
              anything, just something that hopefully makes engaging with the
              courses at a schools catalog a little bit more interesting.
              <br />
              Its a new way to browse and interact with courses.

              <br /><br />

              The first version focused on visualizing degree plans at UT
              Austin. Focusing on degree plans is much more difficult and
              comprehensive. After shifting to course catalogs, DegreeView
              expanded into a system designed to support multiple universities
              and scale across different catalogs.

              <br /><br />

              This project was also built as a way to improve programming skills
              and explore how far a data-driven platform like this can go.
            </p>
            <br />
          </div>
          <p id="disclaimer">
            Disclaimer: DegreeView is not affiliated with any universities
          </p>
        </div>
        <div class="aboutbox">
          <h3 class="aboutbox-header">Technicals</h3>

          <div class="about-paragraph">
            <p>
              This project consists of a lot of data analysis and data
              engineering. All data is sourced directly from university catalog
              pages.

              <br /><br />
              The backend is built in Python using libraries such as
              BeautifulSoup and Requests for web scraping, SQLite3 for data
              storage and retrieval, and OpenPyXL for generating formatted Excel
              files. Mermaid.js is used for creating flowchart graphs for degree
              plans. <br />
              In addition the following are also utilized: Jinja, google-cloud
              (for automating uploading to Google Cloud Storage), ReportLab,
              Pillow, PyPDF2, and cairoSVG (png and pdf generation).
              <br />
            </p>
            <br />
          </div>
        </div>
        <div id="socialplatforms">
          <p>
            There is an X DegreeView account where updates, new features, and
            behind the scenes programming stuff may be posted.

            <a
              href="https://x.com/DegreeViewsite"
              title="DegreeView on X"
              target="_blank"
              rel="noopener noreferrer"
            >
              X page link</a
            >.
            <br />
          </p>
          <a
            class="social-icon"
            href="https://x.com/DegreeViewsite"
            title="DegreeView on X"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>

          <a
            href="https://substack.com/@degreeview"
            title="Follow the Substack"
            target="_blank"
            id="substacklink"
            style="display: none"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-substack"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"
              /></svg
          ></a>
        </div>

        <div class="platformscontainer">
          <div class="platformsbox">
            <p>Built by Shalev Widen</p>
            <div class="icons">
              <a
                href="https://www.linkedin.com/in/shalev-widen

"
                target="_blank"
                title="the linkedin"
                ><i class="fab fa-linkedin"></i
              ></a>
              <!-- still hidden -->
              <a
                href="https://swervinaround.substack.com/"
                title="Follow the Substack"
                target="_blank"
                id="substacklink"
                style="display: none"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-substack"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15 3.604H1v1.891h14v-1.89ZM1 7.208V16l7-3.926L15 16V7.208zM15 0H1v1.89h14z"
                  /></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- put something here later -->
      <div class="undermainsite">
        <!-- this can be empty and like 20 px tall just to take up space, and be used for something in the future
          -->
      </div>
      {{footer}}
    </div>
  </body>
</html>
