<!-- this will be a template -->
<!-- for the left content code one I can just pass it in as a variable  -->
<!-- and programmatically generate it with the linkbox and stuff -->
<!-- like pass in a leftcontentdata dictionationary -->

<html lang="en">
  <head>
    {{headtag}}
    <meta
      name="description"
      content="Visualize {departmentnamehalf} at UT Austin through diagrams and tabular data."
    />

    <meta
      name="keywords"
      content="degree, major, UT Austin, degreeview, course diagrams, course excel files, degree stats, {{displaydepartmentname}}"
    />

    <meta name="author" content="DegreeView" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon icon -->
    <link rel="icon" href="{{site_favicon}}" type="image/png" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S06MYR1FV6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        {
          dataLayer.push(arguments);
        }
      }
      gtag("js", new Date());

      gtag("config", "G-S06MYR1FV6");
    </script>

    <title>{departmentnamehalf} UT Page - DegreeView</title>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="../../static/css/coursepage.css" />

    {{headlinks}}
  </head>
  <body>
    {{bodytag}}
    <div class="sitecontainer">
      <div class="abovemainsite">
        <div class="topnav">
          <nav class="breadcrumbs">
            <ul>
              <li><a href="../../utcoursesindex.html">DegreeView UT</a></li>
              <i class="fa fa-chevron-right"></i>

              <li>
                <a href="{letterpagereferencepath}"
                  >{startingletter.upper()} Departments</a
                >
              </li>
              <i class="fa fa-chevron-right"></i>

              <li id="current">{displaydepartmentname}</li>
            </ul>
          </nav>
          <nav class="homeandabout">
            <ul>
              <li><a href="../../utcoursesindex.html">Home</a></li>
              <li><a href="../../../aboutpage.html">About</a></li>
              <li><a href="../../../ut-stats.html">Stats</a></li>
            </ul>
          </nav>
        </div>
        <div class="degreenamebox">
          <h1 id="degreenametitle">{displaydepartmentname}</h1>
        </div>
      </div>
      <div class="undermainsite">
        <h3 id="departmenttableheading">
          {{departmentnamehalf}} Department Courses Table
        </h3>

        <div class="copyanddownload">
          <div class="animatetable">
            <button id="animatebutton">Animate</button>
          </div>

          <i class="fa-regular fa-copy" id="copyicon" title="Copy Table"></i>
          <!-- contains the rendered csv -->
        </div>

        {{htmltable}}
      </div>
      {{footer}}
    </div>
    {{scripts}}
  </body>
</html>
