<!-- this will be a template -->
<!-- for the left content code one I can just pass it in as a variable  -->
<!-- and programmatically generate it with the linkbox and stuff -->
<!-- like pass in a leftcontentdata dictionationary -->

<html lang="en">
  <head>
    {{headtag}}
    <meta
      name="description"
      content="Visualize {departmentnamehalf} at UT Austin through diagrams and tabular data."
    />

    <meta
      name="keywords"
      content="degree, major, UT Austin, degreeview, course diagrams, course excel files, degree stats, {{displaydepartmentname}}"
    />

    <meta name="author" content="DegreeView" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon icon -->
    <link rel="icon" href="{{site_favicon}}" type="image/png" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S06MYR1FV6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        {
          dataLayer.push(arguments);
        }
      }
      gtag("js", new Date());

      gtag("config", "G-S06MYR1FV6");
    </script>

    <title>{departmentnamehalf} UT Page - DegreeView</title>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="../../static/css/coursepage.css" />

    {{headlinks}}
  </head>
  <body>
    {{bodytag}}
    <div class="sitecontainer">
      <div class="abovemainsite">
        <div class="topnav">
          <nav class="breadcrumbs">
            <ul>
              <li><a href="../../utcoursesindex.html">DegreeView UT</a></li>
              <i class="fa fa-chevron-right"></i>

              <li>
                <a href="{{letterpagereferencepath}}"
                  >{{startingletter.upper()}} Departments</a
                >
              </li>
              <i class="fa fa-chevron-right"></i>

              <li id="current">{{displaydepartmentname}}</li>
            </ul>
          </nav>
          <nav class="homeandabout">
            <ul>
              <li><a href="../../utcoursesindex.html">Home</a></li>
              <li><a href="../../../aboutpage.html">About</a></li>
              <li><a href="../../../ut-stats.html">Stats</a></li>
            </ul>
          </nav>
        </div>
        <div class="degreenamebox">
          <h1 id="degreenametitle">{{displaydepartmentname}}</h1>
        </div>
      </div>
      <div class="mainsite">
        <!-- left content has all the file references -->
        <div class="leftcontent">
          <div class="filescontainer" id="excelcontainer">
            <div class="filesname">
              <h3>Excel (.xlsx) Files</h3>
              <span class="material-symbols-outlined"> view_module </span>
            </div>
            <ul>
              {% for lidata in excelul %}
              <li>
                <div class="linkbox">
                  <p>
                    Department Courses
                    <span id="{{ lidata[0] }}">{{ lidata[0] }} Theme</span>
                  </p>
                  <p>
                    <!-- download attribute means they will download it -->
                    Download:&nbsp;&nbsp;
                    <a href="{{ lidata[1] }}" download>
                      <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    </a>
                  </p>
                </div>
              </li>
              {% endfor %}
            </ul>

            <!-- end the for loop -->
          </div>
          <div class="filescontainer" id="tablecontainer">
            <div class="filesname">
              <h3>Tables</h3>
              <span class="material-symbols-outlined"> table </span>
            </div>

            <ul>
              <li>
                <div class="linkbox">
                  <p>Department Courses Table</p>

                  <p>
                    View:&nbsp;&nbsp;
                    <a href="#departmenttableheading" target="_self"
                      ><i class="fa-regular fa-eye"></i>
                    </a>
                    <!-- link icon above-->
                  </p>
                </div>
              </li>

              <li>
                <div class="linkbox">
                  <p>
                    <small id="underconstruction"
                      >Under construction, coming soon</small
                    >
                    <br />

                    {{departmentnamehalf}} Courses with "{{departmentnamehalf}}"
                    in their name Table
                  </p>

                  <p>
                    View:&nbsp;&nbsp;
                    <a href="#" onclick="return false;" target="_self"
                      ><i class="fa-regular fa-eye"></i>
                    </a>
                    <!-- link icon above-->
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="rightcontent">
          <div class="displaynamebox">
            <h3 id="displayname">
              {{displaydepartmentname}} Statistics &nbsp; &nbsp;<span
                class="material-symbols-outlined"
                id="charticon"
              >
                bar_chart_4_bars
              </span>
            </h3>
          </div>
          <!-- department stats here -->
          <div class="departmentstats">
            <section class="statsline" id="coursecount">
              <div class="statsname">Department Course Count</div>
              <div class="statscontent">{{ statsdict['course_count'] }}</div>
            </section>

            <section class="statsline" id="longestname">
              <div class="statsname">Longest Course Name</div>
              <div class="statscontent">
                {{ statsdict['longest_course_name'] }}
              </div>
            </section>

            <section class="statsline" id="shortestname">
              <div class="statsname">Shortest Course Name</div>
              <div class="statscontent">
                {{ statsdict.get('shortest_course_name', 'Not found') }}
              </div>
            </section>

            <section class="statsline" id="lowercount">
              <div class="statsname">Lower Division Course Count</div>
              <div class="statscontent">
                {{ statsdict.get('lower_count', 'Not found') }}, {{
                statsdict.get('lower_percent', 'Not found') }}
              </div>
            </section>

            <section class="statsline" id="uppercount">
              <div class="statsname">Upper Division Course Count</div>
              <div class="statscontent">
                {{ statsdict.get('upper_count', 'Not found') }}, {{
                statsdict.get('upper_percent', 'Not found') }}
              </div>
            </section>

            <section class="statsline" id="gradcount">
              <div class="statsname">Graduate Courses Count</div>
              <div class="statscontent">
                {{ statsdict['grad_count'] }}, {{ statsdict['grad_percent'] }}
              </div>
            </section>

            <section class="statsline" id="averagelength">
              <div class="statsname">
                Average Course Name Length (characters)
              </div>
              <div class="statscontent">
                {{ statsdict['average_course_length'] }}
              </div>
            </section>

            <section class="statsline" id="samenamecount">
              <div class="statsname">
                Number of {{ departmentnamehalf }} Courses with "{{
                departmentnamehalf }}" in their name
              </div>
              <div class="statscontent">
                {{ statsdict.get('samenamelen', 'Not found') }}, {{
                statsdict.get('samenamepercent', 'Not found') }}
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="undermainsite">
        <h3 id="departmenttableheading">
          {{departmentnamehalf}} Department Courses Table
        </h3>

        <div class="copyanddownload">
          <div class="animatetable">
            <button id="animatebutton">Animate</button>
          </div>

          <i class="fa-regular fa-copy" id="copyicon" title="Copy Table"></i>
          <!-- contains the rendered csv -->
        </div>

        {{htmltable}}
      </div>
      {{footer}}
    </div>

    {{scripts}}
  </body>
</html>
