<!doctype html>
<html lang="en">
  <head>
    <meta
      name="description"
      content="Statistics on {{schoolabrv}}'s Course Catalog"
    />

    <meta
      name="keywords"
      content="degree, major, UT Austin, degreeview, course diagrams, course excel files, degree stats, csv, .xlsx,pdf"
    />

    <meta name="author" content="DegreeView" />
    <!-- end seo -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{site_favicon}}" type="image/png" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-S06MYR1FV6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-S06MYR1FV6");
    </script>

    <title>{{schoolabrv}} Home Page</title>

    <!-- main stylesheet -->
    <link rel="stylesheet" href="../static/css/main.css" />

    <!-- Barlow Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Roboto Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,100;1,300;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Icons ( download icon from here is used) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <!-- this is just testing -->

    <!-- <link rel="stylesheet" href="utaustin-site/cssfiles/filterchaos.css" /> -->
  </head>
  <body>
    <!-- this div basically has the entire site in it. Flex direction column -->
    <div class="sitecontainer" id="unihomepage">
      <!-- 
      
      -->
      <div class="abovemainsite">
        <div class="topnav">
          <!-- this is empty but is just on the top to take up space for the color
           KEEP THIS-->
        </div>
        <div class="biglogobox">
          <a href="../index.html" id="homeimagelink">
            <img class="biglogo" src="{{logo5}}" alt="dvlogo" id="biglogoid" />
          </a>
        </div>
      </div>
      <!-- mainsite
        contains right and left sections
      -->
      <div class="mainsite">
        <!-- intro box that is -->
        <div class="introbox">
          <div class="intro-paragraph">
            <p>Course data for {{universityname}} on DegreeView</p>
            <p id="homepagelink">
              All course data from here:
              <span id="link"
                ><a
                  href="{{homepagelink}}"
                  title="Course Homepage Link"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{homepagelink}}</a
                ></span
              >
            </p>
            <!-- this may be absent sometimes -->
            <p>{{homepagemessage}}</p>
          </div>
        </div>
        <!-- 3 buttons -->
        <div class="middlenav">
          <nav class="home_random_stats">
            <ul>
              <!-- keep in mind the entire li is clickable here -->
              <li><a href="../about.html">About</a></li>
              <li id="randompagebutton">
                <a id="randomlink" href="">Random Page</a>
              </li>
              <li><a href="{{statslink}}">Stats</a></li>
            </ul>
          </nav>
        </div>

        <!-- this selector is only used for some schools -->

        <div class="selector" style="display: none">
          <div class="coursedata">
            <a href="option1">Courses Data</a>
          </div>

          <div class="degreeplans" id="currentpage">Option 2</div>
        </div>

        <!-- 
        
        
        
        -->
        <!-- now the departments -->
        <!-- remember this template works in conjuction with the create_uni_homepage() function -->
        <div class="homepage-div">
          {% for letter in departmentlinks_dict %}
          <h2 class="letter-section">{{ letter }}</h2>

          <ul>
            {% for departmentname, departmentpagelink in
            departmentlinks_dict[letter].items() %}
            <li>
              <a href="{{ departmentpagelink }}">{{ departmentname }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>

      <!-- end intro box -->

      <!-- end left content -->

      <!-- end main mainsite -->
      <!-- this goes under main site( no way) -->
      <div class="undermainsite"></div>
      <!-- footer now -->
      {{footer}}

      <div id="hiddeninfo">
        <!-- this is no longer needed -->
        <!-- commented cause idk maybe one day or something -->
        <!-- <p id="departmentpagelinks_jsonpath">
          {{departmentpagelinks_jsonpath}}
        </p> -->
      </div>
    </div>
    {{scripts}}
  </body>
</html>
