<div class="leftcontent">
  <div class="filescontainer" id="excelcontainer">
    <div class="filesname">
      <h3>Excel (.xlsx) Files</h3>
      <span class="material-symbols-outlined"> view_module </span>
    </div>

    <ul>
      <li>
        <div class="linkbox">
          <p>
            Sample Semester Layout <span id="original">Original Theme</span>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ originaltheme_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!--  -->
      <li>
        <div class="linkbox">
          <p>Sample Semester Layout <span id="darktheme">Dark Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ darktheme_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Sample Semester Layout <span id="greentheme">Green Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ green_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Department Courses <span id="deserttheme">Desert Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ desert_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- grey -->
      <li>
        <div class="linkbox">
          <p>
            Department Courses <span id="greyscaletheme">Greyscale Theme</span>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ grey_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- ocean -->
      <li>
        <div class="linkbox">
          <p>Department Courses <span id="oceantheme">Ocean Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ ocean_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- pastel -->
      <li>
        <div class="linkbox">
          <p>Department Courses <span id="pasteltheme">Pastel Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ pastel_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- Primary colors -->
      <li>
        <div class="linkbox">
          <p>
            Department Courses
            <span id="primarytheme">Primary Colors Theme</span>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ primarycolors_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Department Courses <span id="blacktheme">Black Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ blacktheme_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <li>
        <div class="linkbox">
          <p>Department Courses <span id="neontheme">Neon Theme</span></p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{ neon_excel }}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!-- files container is per file type. linkbox is per individiual link -->
  <div class="filescontainer" id="pdfcontainer">
    <div class="filesname">
      <h3>PDF Files</h3>
      <i class="fa-regular fa-file-pdf"></i>
    </div>

    <ul>
      <!-- put the linkboxes in li tags for organization and readability -->
      <li>
        <div class="linkbox">
          <p>Sample Semester PDF</p>

          <p>
            View:&nbsp;&nbsp;
            <a href="{{semesterlayoutpdf}}" target="_blank"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{{semesterlayoutpdf}}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>

      <li>
        <div class="linkbox">
          <p>Sample Semester PDF Empty Nodes</p>
          <p>
            View:&nbsp;&nbsp;
            <a href="{emptynodespdf}" target="_blank"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{emptynodespdf}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- dolphin pdf -->
      <li>
        <div class="linkbox">
          <p>Sunny Dolphin Ocean PDF</p>
          <p>
            View:&nbsp;&nbsp;
            <a href="{dolphinpdf}" target="_blank"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{dolphinpdf}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
      <!-- stare pdf -->
      <li>
        <div class="linkbox">
          <p>Thousand Yard Stare PDF</p>
          <p>
            View:&nbsp;&nbsp;
            <a href="{starepdf}" target="_blank"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{starepdf}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="filescontainer" id="csvcontainer">
    <div class="filesname">
      <h3>CSV Files</h3>
      <i class="fa-regular fa-file"></i>
    </div>

    <ul>
      <li>
        <div class="linkbox">
          <p>Major Courses CSV</p>

          <p>
            View:&nbsp;&nbsp;
            <a href="#csvtablecontainer" target="_self"
              ><i class="fa-regular fa-eye"></i
            ></a>
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a
              href="{majorcoursescsv}"
              id="majorcoursesdownload"
              download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>

      <li>
        <div class="linkbox">
          <p>Sample Semester Layout CSV</p>

          <p>
            View:&nbsp;&nbsp;
            <a href="{renderedcsvurl}" target="_self"
              ><img class="linksvg" src="../metaassets/Link-17.svg" alt="" />
            </a>
            <!-- link icon above-->
          </p>
          <p>
            <!-- download attribute means they will download it -->
            Download:&nbsp;&nbsp;<a href="{semesterlayoutcsv}" download
              ><i class="fa-solid fa-arrow-up-from-bracket"></i
            ></a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
